<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="AWS:AccessKeyId" value ="AKIAI3ZYBIF3SBWBLEWA"/>
    <add key="AWS:SecretAccessKey" value="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"/>
  </appSettings>
</configuration>